.*
*.py[co]
*.db
*.sqlite3
*.DS_Store

node_modules
dist
backup
.tmp
.sass-cache
app/bower_components
build

# Sublime Text CodeIntel config
.codeintel/*
.cloak/
!.jshintrc
!.bowerrc
!.gitignore

*.mo
