<div masonry masonry-options="{ transitionDuration: '0.4s' }">
    <div class="masonry-brick" ng-repeat="p in projects">
        <img class="thumbnail" ng-src="[[ p.covers['202'] ]]" alt="[[p.name]]">
        <!-- <a href="#">Views <span class="badge">[[ p.stats.views ]]</span></a> -->
        <!-- <a href="#">Appreciations <span class="badge">[[ p.stats.appreciations ]]</span></a> -->
        <!-- <span class="label label-info" ng-repeat="f in p.fields" ng-bind="f"> </span> -->
        <!-- <pre>[[ p | json ]]</pre> -->
    </div>
</div>

<!--
<accordion close-others="true">
  <accordion-group ng-repeat="p in projects" is-open="false">
    <accordion-heading>
      <div class="row">
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
          <h4 ng-bind="p.name"></h4>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
          <img class="pull-right" ng-src="[[ p.covers['115'] ]]" height="54" alt="[[p.name]]">
        </div>
      </div>
    </accordion-heading>

    <span class="label label-info" ng-repeat="f in p.fields" ng-bind="f"> </span>
    <br>
    <img ng-src="[[ p.covers['404'] ]]">
    <pre>[[ p | json ]]</pre>

  </accordion-group>
</accordion>
-->
