<loading-icon ng-show="loading"></loading-icon>

<div ng-if="!loading" class="project-thumb" masonry load-images="true" masonry-options="{ transitionDuration: '0.4s' }">
  <div ng-repeat="p in projects" class="masonry-brick">
    <a ng-href="#/projects/[[ p.id ]]" class="pull-left">
      <!-- 115 202 230 404 -->
      <img class="thumbnail" ng-src="[[ p.covers['202'] ]]">
    </a>
    <div class="project-meta">
      <h4 class="title">
        <a ng-href="#/projects/[[ p.id ]]" ng-bind="p.name"></a>
      </h4>
      <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <div class="pull-left label label-info" style="margin-right:5px; margin-bottom:10px;"
                ng-repeat="tag in p.fields" ng-bind="tag"></div>
        </div>
      </div>
    </div>
  </div>
</ul>
